<app-menu></app-menu>
<h1>About the author</h1>
<div class="about-content">
    <div class="img-wrapper">
        <img src="assets/images/brookeclonts.jpg" alt="Brooke Clonts"/>
    </div>
    <div class="about-content-wrapper">
        <p>
            Brooke Clonts is fantasy author and web developer from Salt Lake City, Utah. She is married, has two beautiful huskies, and loves to read, wakesurf, hike, take pictures of her family, and, obviously, write. She works as a web developer and writes with all her spare time. Her favorite books include <i>Harry Potter</i>, <i>The Lord of the Rings</i>, <i>Eragon</i>, <i>Percy Jackson</i>, and <i>East</i>.
        </p>
        <p>
            Contact Brooke via email: <a href="mailto:brooke@brookeclonts.com?Subject=Hello%20Brooke">brooke@brookeclonts.com</a>
        </p>
        <div class="fb-like" data-href="https://www.facebook.com/brookeclonts" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </div>
</div>
<app-footer></app-footer>