<div class="footer-section">
    <div>
        <h3>
            Helpful Links
        </h3>
        <div class="links">
            <div class="link">
                <a routerLink="/" (click)="scrollToId('books')">Books</a>
            </div>
            <div class="link">
                <a href="http://blog.brookeclonts.com" target="_blank">Blog</a>
            </div>
            <div class="link">
                <a routerLink="/about">About the Author</a>
            </div>
            <div class="link">
                <a href="https://www.goodreads.com/brookeclonts" target="_blank">
                    Brooke Clonts on Goodreads
                </a>
            </div>
            <div class="link">
                <a routerLink="/sitemap">Sitemap</a>
            </div>
        </div>
    </div>
</div>

<div class="footer-section">
    <div>
        <h3>
            Contact
        </h3>
        <div class="links">
            <div class="link">
                <a href="mailto:brooke@brookeclonts.com">brooke@brookeclonts.com</a>
            </div>
            <div class="social-icons">
                <a href="https://twitter.com/brookeclonts" target="_blank">
                    <app-twitter></app-twitter>
                </a>
                <a href="https://www.facebook.com/brookeclonts" target="_blank">
                    <app-facebook></app-facebook>
                </a>
                <a href="https://www.instagram.com/brookeclonts/" target="_blank">
                    <app-instagram></app-instagram>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="footer-section">
    <div>
        <h3>
            Get the inside scoop!
        </h3>
       <app-email-submission></app-email-submission>
    </div>
</div>