{
    "env": {
      "development": {
        "presets": [
          [ "@babel/preset-env", {
            "targets": {
              "browsers": [ "last 2 versions", "ie >= 11" ]
            }
          } ],
          "@babel/preset-react",
          "@babel/preset-flow"
        ],
        "plugins": [
          ["emotion"],
          "@babel/plugin-transform-runtime",
          "@babel/plugin-proposal-do-expressions",
          "@babel/plugin-syntax-flow",
          "@babel/plugin-proposal-class-properties",
        ],
        "comments": true
      },
      "production": {
        "presets": [
          [ "@babel/preset-env", {
            "targets": {
              "browsers": [ "last 2 versions", "ie >= 11" ]
            }
          } ],
          "@babel/preset-react",
          "@babel/preset-flow"
        ],
        "plugins": [
          ["emotion"],
          "@babel/plugin-transform-runtime",
          "@babel/plugin-proposal-do-expressions",
          "@babel/plugin-syntax-flow",
          "@babel/plugin-proposal-class-properties",
        ],
        "comments": true
      },
      "test": {
        "sourceMaps": false,
        "presets": [
          [ "@babel/preset-env", {
            "targets": {
              "browsers": [ "last 2 versions", "ie >= 11" ]
            }
          } ],
          "@babel/preset-react",        
          "@babel/preset-flow"
        ],
        "plugins": [
            ["emotion"],
            "@babel/plugin-transform-runtime",
            "@babel/plugin-proposal-do-expressions",
            "@babel/plugin-syntax-flow",
            "babel-plugin-dynamic-import-node",
            "@babel/plugin-proposal-class-properties",
        ],
        "comments": true
      }
    }
  }