<h1>About the author</h1>
<div class="about-content">
    <div class="img-wrapper">
        <img src="assets/images/brookeclonts.jpg" alt="Brooke Clonts"/>
    </div>
    <p>
        Brooke Clonts is from Salt Lake City, Utah and now lives in Farmington, Utah. She is married, has two beautiful huskies, and loves to read, wakesurf, hike, take pictures of her family, and, obviously, write. She works as a web developer and writes with all the spare time she has. Her favoite genre is fantasy– all things fantasy.
    </p>
</div>