<app-menu></app-menu>
<h1>Projects</h1>
<div class="projects-content">
    <div class="contain">
        <p class="sub-header">
            Brooke Clonts is a MEAN stack developer. Below is a list of projects she has worked on. <br>
            <a href="https://github.com/brookeclonts">
                github: brookeclonts
            </a>
        </p>

        <div class="projects">
            <div class="project" *ngFor="let project of projects">
                <a href="{{project.url}}" target="_blank">
                    <img src="{{project.img}}" alt="{{project.title}}"/>
                </a>
                <p class="project-label">
                    {{project.title}}
                </p>
                <p class="project-description">
                    {{project.description}}
                    <br>
                    You can view the project
                    <a href="{{project.url}}" target="_blank">
                        here
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
