<h1>Projects</h1>
<div class="projects-content">
    <div class="contain">
        <p class="sub-header">
            Brooke Clonts is a MEAN developer. Below is a list of projects she has worked on. <br>
            <a href="https://github.com/brookeclonts">
                github: brookeclonts
            </a>
        </p>

        <div class="projects">
            <div class="project">
                <a href="http://slenderiiz-calc.com/" target="_blank">
                    <img src="/assets/images/projects/slenderiiz-calc.jpg" alt="Slenderiiz Calculator"/>
                </a>
                <p class="project-label">
                    Slenderiiz Calculator
                </p>
                <p class="project-description">
                    is an Angular2.0 project that calculates where you're weight is at compared to where it should be at.
                    <br>
                    You can view the project
                    <a href="http://slenderiiz-calc.com/" target="_blank">
                        here
                    </a>
                </p>
            </div>
            <div class="project">
                <a href="https://vacationcandy.com/" target="_blank">
                    <img src="/assets/images/projects/vacationcandy.jpg" alt="Vacationcandy"/>
                </a>
                <p class="project-label">
                    VacationCandy
                </p>
                <p class="project-description">
                    is an Angular1.0 project that integrates with Laravel PHP. You can book resorts through this page.
                    <br>
                    You can view the project
                    <a href="https://vacationcandy.com/" target="_blank">
                        here
                    </a>
                </p>
            </div>
            <div class="project">
                <a href="https://rxbalm.com/" target="_blank">
                    <img src="/assets/images/projects/rxbalm.jpg" alt="RxBalm"/>
                </a>
                <p class="project-label">
                    RxBalm.com
                </p>
                <p class="project-description">
                    is an Wordpress and Woocommerce site for a small startup that is now managed by the company.
                    <br>
                    You can view the project
                    <a href="https://rxbalm.com/" target="_blank">
                        here
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
