$green: #B2B8B4;
$pink: #F5D0D7;
$dark-pink: #c4a6ac;
$blue-gray: #484B5A;
$blue-gray-fade: rgba(72, 75, 90, 0);
$white: #FEFFFF;
$med-gray: #5D5C62;
$gold: #BAA262;
$true-white: #ffffff;
$header-white: rgba(254, 255, 255, 0.85);