$home-svg-size: 400px;
$draw-speed: 800;

app-home {
    h2 {
        font-size: 38px;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }

    .hero-banner {
        background-color: $blue-gray;
        height: 100vh;
        width: 100vw;
        text-align: center;
        display: table;
        padding: 160px 0 100px;

        h1 {
            color: $white;
            font-size: 58px;
            margin-bottom: 30px;
            letter-spacing: 2px;
        }

        button.btn {
            border: solid 1px $white;
            color: $white;
            font-size: 20px;
            padding: 10px 50px;

            &:hover {
                background-color: $white;
                color: $blue-gray;
            }
        }
    }

    .hero-content {
        display: table-cell;
        vertical-align: middle;
    }

    app-tattoo, svg {
        display: block;
        height: 200px;
        width: 200px;
        margin: auto;
        text-align: center;

        @media screen and (min-width: $tab) {
            height: $home-svg-size;
            width: $home-svg-size;
        }
    }

    svg {
        path {
            fill-opacity: 0;
            stroke-width: 3;
            stroke-dasharray: $draw-speed;
            stroke-dashoffset: 900;
            animation-name: draw;
            animation-duration: 10s;
            animation-fill-mode: forwards; // Stay on the last frame
            animation-iteration-count: 1; // Run only once
            animation-timing-function: linear;
            animation-delay: 0.3s;
        }

        .st0, .st1 {
            stroke: $light-pink;
        }
    }

    .products-section {
        background-color: $green;
        display: table;
        height: 100vh;
        width: 100vw;
        margin: auto;
        text-align: center;
        padding: 100px 0;

        .products-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

        .status-message {
            color: $blue-gray;
            font-size: 20px;
        }
    }
}