p, span, button, input, li, a {
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    color: $med-gray;
    font-weight: 300;
    font-size: 14px;
}

h1, h2, h3, h4 {
    font-family: 'Medula One', 'Times New Roman', serif;
    color: $med-gray;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $med-gray;
}

.btn {
    background-color: transparent;
    border: solid 1px $med-gray;
    color: $med-gray;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    padding: 10px 20px;

    &:hover {
        background-color: $med-gray;
        color: $white;
        cursor: pointer;
    }

    &:focus {
        outline: 0;
    }
}