app-home {
    .wrapper {
        padding: 50px 20px;
    }

    h2 {
        font-size: 38px;
        margin-bottom: 20px;
        letter-spacing: 2px;
        text-align: center;
    }

    .btn {
        background-color: $pink;
        color: $blue-gray;
        width: 100%;
        margin-top: 10px;
        padding: 10px 50px;
        border: none;
        font-size: 16px;
        box-sizing: border-box;
        text-align: center;
        text-transform: uppercase;
        max-width: 300px;
        margin: auto;
    }

    .hero-banner {
        background-color: $blue-gray;
        height: 100vh;
        width: 100vw;
        text-align: center;
        display: table;
        padding: 0;
        overflow: hidden;

        @media screen and (min-width: 1200px) {
            padding: 50px 0;
        }

        h1 {
            color: $white;
            font-size: 38px;
            margin-bottom: 30px;
            letter-spacing: 2px;
            margin-top: 0;

            @media screen and (min-width: $tab) {
                font-size: 58px;
            }
        }

        button.btn {
            border: solid 1px $white;
            color: $white;
            font-size: 20px;
            padding: 10px 50px;

            &:hover {
                background-color: $white;
                color: $blue-gray;
            }
        }

        .banner-section{
            max-width: $max-width;
            // margin: 0;
            margin: auto;

            @media screen and (min-width: $tab) {
                text-align: left;
                padding-left: 20px;
            }

            @media screen and (min-width: 1600px) {
                max-width: initial;
            }

            form {
                margin: auto;
                max-width: 300px;

                @media screen and (min-width: $tab) {
                    margin: 0;
                }

                .btn {
                    border: none;
                    font-size: 16px;
                    color: $blue-gray;

                    &[disabled] {
                        &:hover {
                            background-color: $pink;
                        }
                    }
                }
            }
        }

        app-tattoo, app-tattoo svg {
            display: none;
            height: 200px;
            width: 200px;
            margin: auto;
            text-align: center;
            z-index: 0;

            @media screen and (min-width: $tab) {
                height: $home-svg-size;
                width: $home-svg-size;
                top: -20%;
                right: -10%;
                position: absolute;
                display: block;
                opacity: 0.5;
            }

            @media screen and (min-width: 1600px) {
                top: 20px;
                right: 10px;
            }
        }

        .hero-content {
            display: table-cell;
            vertical-align: middle;
            position: relative;
        }
    }


    .products-section {
        background-color: $green;
        display: table;
        height: 100vh;
        width: 100vw;
        margin: auto;
        text-align: center;

        .products-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

        .status-message {
            color: $blue-gray;
            font-size: 20px;
        }
    }

    .blog-section {
        display: table;
        height: 100vh;
        width: 100vw;

        .blog-wrapper {
            display: table-cell;
            vertical-align: middle;
        }

        .post {
            text-align: center;
            margin-bottom: 20px;

            img {
                width: 100%;
                max-width: 500px;
                margin: auto;
                box-sizing: border-box;
            }

            .title {
                font-size: 20px;
            }

            .description {
                max-width: 500px;
                margin: auto;
            }
        }
    }

    .instagram-section {
        background-color: $green;

        h2 {
            margin-bottom: 20px;
        }

        .instagram-wrapper {
            padding: 50px 20px;
            vertical-align: top;
        }

        .feed-wrapper {
            margin-right: -10px;
            margin-left: -10px;

            @media screen and (min-width: $desktop) {
                padding: 50px 0px;
            }
        }

        .feed {
            display: block;
            text-align: center;
            vertical-align: top;

            @media screen and (min-width: $desktop) {
                display: inline-block;
                width: 25%;
            }

            img {
                box-sizing: border-box;
                max-width: 100%;
                padding: 10px;
            }
        }

        .message {
            color: #484B5A;
            font-size: 14px;
            padding: 0px 20px 20px;
            text-align: center;
            max-width: 500px;
            margin: auto;
            margin-top: 5px;
            min-height: 65px;
        }

        // .feed-button {
        //     color: $green;
        // }
    }
}