<app-menu></app-menu>
<h1>Sitemap</h1>
<ul class="sitemap-content">
    <li>
        <a routerLink="/">
            Home
        </a>
    </li>
    <li>
        <a routerLink="/">
            Books
        </a>
    </li>
    <li>
        <a href="http://blog.brookeclonts.com" target="_blank">
            Blog
        </a>
    </li>
    <li>
        <a routerLink="/about">
            About the Author
        </a>
    </li>
    <li>
        Email:
        <a href="mailto:brooke@brookeclonts.com?Subject=Hello%20Brooke">
            brooke@brookeclonts.com
        </a>
    </li>
</ul>
<app-footer></app-footer>
