<app-menu></app-menu>
<h1>
    Recent Blog Posts
</h1>
<div class="blog">

    <a [routerLink]="['/post', post.title]" *ngFor="let post of posts">
        <div class="blog-post">
            <div class="img-wrapper">
                <img alt="{{post.title}}" src="{{post.imageUrl}}"/>
            </div>
            <div class="post-content">
                <p class="title">
                    {{post.title}}
                </p>
                <p class="description">
                    {{post.description}}
                </p>
                <a [routerLink]="['/post', post.title]" class="link">
                    Read Now >
                </a>
            </div>
        </div>
    </a>

</div>