<app-menu></app-menu>
<div class="hero-banner">
    <div class="hero-content">
        <app-tattoo id="homeTat"></app-tattoo>
        <h1>
            Welcome to BrookeClonts.com
        </h1>
        <button (click)="scrollToId('books')" class="btn">
            See Books
        </button>
    </div>
</div>

<div class="products-section" id="books">
    <div class="products-wrapper">
        <h2>Books</h2>
        <div class="product" *ngFor="let book of books">
            <img src="{{book.imageUrl}}" alt="{{book.title}}"/>
            <p class="status-message" *ngIf="book.status.length">
                {{book.status}}
            </p>
        </div>
    </div>
</div>
<app-footer></app-footer>
